:root {
	--taskbar-height: 60px;
	--error-critical: crimson;
	--error-question: aqua;
	--error-exclamation: gold;
	--error-information: DodgerBlue;
	--white-01: rgba(255,255,255,0.1);
}

.welcome-screen {
	width: 100dvw;
	height: 100dvh;
	background-image: url(/content/images?i=welcomescreen.png);
	z-index: 1000;
	transform: scale(1);
	opacity: 1;
	filter: blur(0px);
	transition: transform 0.3s ease-in, opacity 0.3s ease-in, filter 0.3s ease-out;
}

.welcome-screen-transition {
	transform: scale(1.5) !important;
	opacity: 0 !important;
	filter: blur(30px);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out, filter 0.3s ease-out;
}

.welcome-text {
	font-size: 200px;
	font-weight: 100;
	bottom: 0;
	padding: 1%;
}

.lockscreen-clock {
	font-weight: 100;
	padding: 1%;
	font-size: 100px;
}

.lockscreen-date {
	font-weight: 300;
	margin-top: -30px;
}

.lockscreen-clock-container {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	inset: 0;
	margin: auto;
}


* {
	margin: 0;
	padding: 0;
	scrollbar-color: rgba(255,255,255,0.2) rgba(0,0,0,0);
	scrollbar-width: thin;
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
	width: 4px;
    height: 4px;
}

a {
	text-decoration: none;
}

a:active {
	color: white;
}

a:visited {
	color: white;
}
body {
	background-image: url("/content/images?i=background.jpg"); 
	background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover;background-attachment: fixed; 
	font-family: sans-serif;
	color: white;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

.unselectable {
	-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */

}

/* Clock START */

div.desktop-clock {
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
	height: 25%;
}

div.desktop-clock-time {
	filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.3));
	font-weight: 100;
	font-size: 12vh;
	height: 80%;
}

div.desktop-clock-date {
	filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.3));
	font-size: 3vh;
	top: -6.0vh;
	font-family: Roboto;
	font-weight: 300;
}

/* Clock END  */

div.contextmenu {
	right: 0;
	bottom: calc(var(--taskbar-height) + 3px);
	width: 210px;
	border-radius: 6px;
	padding: 3px;
	background-color: rgba(0,0,0,0.3);
	backdrop-filter: blur(5px);
	height: auto;
	overflow: hidden;
	visibility: visible;
}

div.contextmenu[data-hidden="true"] {
	visibility: hidden;
	height: auto !important;
}

div.ctx-element {
	width: 198px;
	left: 0;
	height: 48px;
	border-radius: 3px;
	padding-inline: 6px;
}

div.ctx-element:hover {
	background-color: rgba(255,255,255,0.3);
}

div.taskbar {
	height: var(--taskbar-height);
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	background-color: rgba(255,255,255,0.3);
	backdrop-filter: blur(15px);
	border-radius: 9px;
	padding-block: 3px;
	z-index: 99;
	transition: width 0.2s;
}

.button-home {
	top: 0 !important;
	background-image: url('/content/images?i=logo.png');
}

.button-search {
	top: 0 !important;
	background-image: url('/content/images?i=search-white.png');
}

.button-other {
	width: inherit;
}

div.taskbar-button {
	height: var(--taskbar-height);
	border-radius: 6px;
	width: var(--taskbar-height);
	background-color: rgba(0,0,0,0);
	transition: background-color 0.2s;
	margin-inline: 3px;
	background-size: cover;
}

div.taskbar-button:hover {
	background-color: rgba(255,255,255,0.5);
	transition: background-color 0.2s;
}

.searchbar {
	resize: none;
	height: 36px;
	border-radius: 18px;
	background-color: rgba(0,0,0,0.3);
	backdrop-filter: blur(15px);
	width: 400px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 92px;
	outline: none;
	font-family: sans-serif;
	padding-inline: 12px;
	color: white;
	z-index: 100;
	transition: all 0.2s;
}

.hiddensearch {
	width: 0;
	bottom: -100px;
	transition: all 0.2s;
}


.container {
	width: 100%;
	height: 100%;
	z-index: -1;
}



div.window {
	width: 800px;
	height: 600px;
	background-color: rgba(0,0,0,0.3);
	backdrop-filter: blur(25px) contrast(50%);
	border-radius: 12px;
	filter: drop-shadow(0px 0px 3px rgba(0,0,0,0.3));
	/* top: 10%; */
	/* left: 10%; */
	resize: both;
	overflow: auto;
	z-index: 4;
	max-height: 100%;
	max-width: 100%;
	min-width: 240px;
	min-height: 40px;
	transform: translateX(0) translateY(0) scaleX(1) scaleY(1);
	transition: transform 0.2s;
}

div.window[data-minimised="true"] {
	/* bottom: -100px !important; */
	min-width: 0 !important;
	min-height: 0 !important;
	transform: translateX(0) translateY(100vh) scaleX(.5) scaleY(0);
	transition: transform 0.2s;
}


div.window[data-active="true"] {
	z-index: 5 !important;
}

div.settingswindow {
	background-color: rgba(0,0,0,0.5) !important;
	min-width: 900px !important;
	min-height: 450px !important;
}

div.maximised-window {
	border-radius: 0 !important;
	resize: none !important;
	background-color: rgba(0,0,0,0.6);
	top: 0 !important;
	left: 0 !important;
}



div.snapping-preview-full-hidden {
	opacity: 0 !important;
	z-index: -3 !important;
	transition: opacity 0.1s;
}

div.snapping-preview-full {
	border-radius: 12px;
	top: 20px;
	left: 20px;
	height: calc(100% - 40px);
	width: calc(100% - 40px);
	opacity: 1;
	background-color: rgba(255,255,255,0.03);
	backdrop-filter: blur(5px);
	z-index: 3;
	border: solid 2px rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,0.6); 
	box-shadow: inset 0px 0px 20px 5px rgba(255,255,255,0.6);
	transition: opacity 0.1s;
}

div.window-header {
	height: 24px;
	width: 100%;
	padding-block: 2px;
	background-color: rgba(255,255,255,0.1);
	line-height: 24px;
	border-radius: 12px 12px 0 0;
}

font.window-header {
	display: inline;
	margin-left: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.windowControls {
	height: 20px;
	right: 0;
	flex-direction: row-reverse;
	width: 72px;
	display: flex;
	border-radius: 200px;
	justify-content: space-between;
}

/* div.windowControls:hover > window-button:nth-of-type(2){
	opacity: 1;
	transition: opacity 0.12s;
	transition-delay: 60ms;
}
div.windowControls > window-button:nth-of-type(2){
	opacity: 0;
	transition: opacity 0.12s;
	transition-delay: 60ms;
}
div.windowControls:hover > window-button:nth-of-type(3){
	opacity: 1;
	transition: opacity 0.12s;
	transition-delay: 120ms;
}
div.windowControls > window-button:nth-of-type(3){
	opacity: 0;
	transition: opacity 0.12s;
	transition-delay: 0ms;
} */


div.windowControlsOuter {
	right: 4px;
	height: 20px;
	overflow: hidden;
	width: 72px;
	transition: width 0.1s ease-in-out;
	top: 4px;
	border-radius: 10px;
}

div.windowControlsOuter:hover {
	width: 72px;
	transition: width 0.1s ease-in-out;
}




div.username-field {
	right: 32px;
	top: 10px;
	height: 36px;
	width: auto;
	border-radius: 18px;
	transition: all 0.1s;
}

font.username-main {
	line-height: 24px;
	top: 0;
	right: 48px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

font.username-small {
	font-size: 12px;
	line-height: 12px;
	right: 48px;
	top: 24px;
}

div.user-profile-picture {
	height: 36px;
	width: 36px;
	border-radius: 100%;
	background-image: url("/content/images?i=default.jpg");
	background-size: cover;
	transition: transform 0.1s;
	top: 0;
	right: 0;
}

/* div.username-field:hover {
	background-color: rgba(255,255,255,1);
} */

ul.ul-no-dec {
	
	list-style-type:none;
	padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

div.condition {
	line-height: 24px;
	padding-inline: 6px;
	border-radius: 3px;
	margin: 2px;
}
div.condition-not-met {
	background-color: rgba(240,32,32,0.5);
}
div.condition-met {
	background-color: rgba(32,240,32,0.5);
}

div.windowbody {
	height: calc(100% - 28px);
	width: 100%;
	top: 28px;
	left: 0;
}

.iframe {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
}





div.notification-popup {
	background-color: rgba(0,0,0,0.3);
	z-index: 250;
	border-radius: 6px;
	backdrop-filter: blur(15px);
	width: 400px;
	min-height: 60px;
	top: 30px;
	padding: 12px;
	left: 50%;
	transform: translateY(0) translateX(-50%);
	transition: transform 0.2s;
	height: auto;
}

.notification-text {
	width: calc(100% - 72px);
	left: 72px;
}

.notification-popup-title {
	line-height: 30px;
	font-weight: 500;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.notification-desc {
	top: 6px;
	width: 100%;
	display: block;
	height: auto;
	
}

.notification-image {
	height: 60px;
	width: 60px;
	border-radius: 100%;
	left: 12px;
	top: 12px;
	display: inline-block;
	background-size: cover;
}

div.desktop-folder {
	display: grid;
	grid-template-columns: repeat(3, 92px);
	grid-template-rows: repeat(3, 92px);
	transform: translateX(-50%) translateY(-50%) scale(0);
	height: auto;
	width: auto;
	padding: 6px;
	border-radius: 12px;
	backdrop-filter: blur(20px);
	background-color: rgba(255,255,255,0.4);
	z-index: 10;
	transition: all 0.2s;
}

div.folder-bg {
	width: 100%;
	height: 100%;
	inset: 0;
	background-color: rgba(0,0,0,0.4);
	backdrop-filter: blur(15px);
	z-index: 5;
	
}

div.desktop-folder-open {
	visibility: visible;
	transform: translateX(-50%) translateY(-50%) scale(1);
	transition: transform 0.2s;
	z-index: 10;
}

.desktop-folder-element {
	height: 80px;
	width: 80px;
	margin: auto;
	background-color: rgba(0,0,0,0.2);
	border-radius: 6px;
}

.desktop-folder-element:hover {
	background-color: rgba(255,255,255,0.4);
}

div.notification-popup-hidden {
	transform: translateY(-200%) translateX(-50%);
	transition: transform 0.2s;
}


.noscript-ol {
	z-index: 1000;
	inset: 0 0 0 0;
	background-color: rgba(0,0,0,0.4);
	backdrop-filter: blur(20px);
}

.noscript-error {
	border-radius: 12px;
	border: solid 3px #d11;
	z-index: 1001;
	background-color: rgba(255,0,0,0.4);
	padding: 12px;
}
