@media (max-width: 480px) {
	.startmenu {
		position: fixed !important;
		width: 98% !important;
		border-radius: 3px 3px 0 0 !important;
		padding: 1% !important;
		bottom: calc(var(--taskbar-height) + 3px) !important;
	}
	
	.hiddenstart {
		bottom: -200px !important;
	}
}
.startmenu {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	border: none;
	border-radius: 28px;
	background-color: rgba(171, 171, 171, 0.2);
	width: 500px;
	height: 400px;
	padding: 12px;
	display: block;
	bottom: 92px;
	backdrop-filter: blur(20px);
	transition: all 0.2s;
	z-index: 98;
	overflow: hidden;
}

@media (max-width: 480px) {
	.startmenu {
		width: 100%;
	}
}


/* GENERAL LAYOUT  */
div.startmenu-top {
	position: absolute;
	top: 0;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	border-bottom: solid 1px rgba(255,255,255,0.3);
	height: 54px;
}

.startmenu-main {
	width: calc(100% - 48px);
	position: absolute;
	top: 70px;
	height: 200px;
	left: 24px;
}

div.startmenu-favorites {
	position: absolute;
	bottom: 64px;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	border-top: solid 1px rgba(255,255,255,0.3);
	height: 80px;
	overflow-y: hidden;
	overflow-x: scroll;
	white-space: nowrap;
	scroll-snap-type: x proximity;
}

div.startmenu-bottom {
	position: absolute;
	bottom: 0;
	width: 90%;
	left: 50%;
	transform: translateX(-50%);
	border-top: solid 1px rgba(255,255,255,0.3);
	height: 60px;
}


/* PRE-LOGIN */
div.startmenu-button-lg-su {
	position: absolute;
	top: 10px;
	font-size: 18px;
	height: 36px;
	width: auto;
	text-align: center;
	border-radius: 18px;
	cursor: pointer;
	line-height: 36px;
	padding-inline: 12px;
	transition: all 0.1s;
	display: block;
	background-color: rgba(0,0,0,0);
}

div.startmenu-button-lg-su:hover {
	background-color: rgba(0,0,0,0.1);
	transition: all 0.1s;
}

div.startmenu-button-lg-su:active {
	transform: scale(0.96);
	transition: all 0.1s;
	background-color: rgba(0,0,0,0.1);
}

div.login-button {
	right: 10px;
	border: solid 1px rgba(255,255,255,1);
}

div.signup-button {
	right: 92px;
	border: solid 1px rgba(0,0,0,0);
}



.startmenu-top-button {
	width: 36px;
	height: 36px;
	border-radius: 100%;
	border: none;
	color: white;
	position: absolute;
	transition: color 0.2s;
	font-size: 18px;
	line-height: 38px !important;
	display: block;
	cursor: pointer;
}

.startmenu-top-button:hover {
	color: #ddd;
	transition: color 0.2s;
}

.startmenu-top-button-logout {
	right: -16px;
	top: 10px;
}

.startmenu-top-button-settings {
	left: 0;
	top: 10px;
}

.startmenu-bottom-button {
	height: 48px;
	width: 48px;
	top: 6px;
	display: inline-block;
	margin: 0 6px 0 6px;
	position: relative;
	border-radius: 100%;
	background-size: cover;
}

.hiddenstart {
	width: 200px;
	height: 0px;
	bottom: -100px;
	transition: all 0.2s;
}





div.startmenu-title {
	font-size: 24px;
	line-height: 48px;
	height: 48px;
	content: "Start";
	position: absolute;
	top: 12px;
	left: 24px;
}








.sm-favorites-element {
	height: 68px;
	padding: 3px;
	border-radius: 6px;
	background-color: rgba(0,0,0,0.2);
	width: 68px;
	display: inline-block;
	margin: 4px 6px 0 6px;
	cursor: pointer;
	scroll-snap-align: end start;
}
.sm-favorites-element:hover {
	
}


