calendar-widget {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
	width: 240px;
	height: 400px;
	min-height: 240px;
	background-color: rgba(255,255,255,0.1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	position: fixed;
	right: 20px;
	border-radius: 12px;
	top: 20px;
	display: block;
	padding: 6px;
	z-index: 0;
	resize: vertical;
	overflow-x: hidden;
	overflow-y: auto;
}

.calendar {
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 30px);
}
.calendar-top {
	height: 36px;
}
.month-back {
	display: inline-block;
	height: 24px;
	font-size: 24px;
	line-height: 24px;
	width: 24px;
	background-image: url('/images/monthminus.png');
	background-size: cover;
	position: absolute;
	left: 12px;
}

.month-forward {
	display: inline-block;
	height: 24px;
	font-size: 24px;
	line-height: 24px;
	width: 24px;
	background-image: url('/images/monthplus.png');
	background-size: cover;
	position: absolute;
	right: 12px;
}

.calendar-month {
	width: 50%;
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 18px;
	line-height: 24px;
}

.calendar {
	position: absolute;
	top: 36px;
	width: 100%;
}

.calendar-date-block {
    position: relative;
    width: 28px;
    height: 28px;
    /**background-color: #f55;*/
    display: flex;
    justify-content: center;
    align-items: center;
	transition: border-width 0.2s;
	box-sizing: border-box;
	cursor:pointer;
}

.calendar-date-block[data-valid="true"]:hover {
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	border-color: rgba(255,255,255,0.3);
	background-color: rgba(255,255,255,0.1);
	transition: border-width 0.1s;
}

.calendar-date-block[data-appointment="true"] {
	color:#f55;
	font-weight: 600;
}


.calendar-date-block[data-appointment="true"]:hover {
	border-style: solid;
	border-width: 3px;
	border-radius: 3px;
	border-color: rgba(255,120,120,0.3);
	background-color: rgba(255,120,120,0.1);
	transition: border-width 0.1s;
}


.tableElementCal {
	width: 18px;
	padding: 6px;
	margin: 0 3px 0 3px;
	text-align:center;
	vertical-align:middle;
	
}

.appointment {
	color: #f55;
	font-weight: 800;
}

.appointmentlist {
	width: 95%;
	height: calc(100% - 250px);
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	top: 250px;
}

.appointmentlistelement {
	border-radius: 6px;
	 background: rgb(255,0,0);
	background: linear-gradient(90deg, rgba(255,0,0,0) 1%, rgba(255,0,0,1) 1%, rgba(255,0,0,1) 2%, rgba(0,0,0,0) 2%); 
	height: 48px;
	width: 100%;
	display: block;
	margin-top: 6px;
	margin-bottom: 6px;
}

div.smallwidget {
	resize: none !important;
	height: 36px !important;
	width: 240px !important;
	min-height: 36px !important;
	min-width: 240px !important;
	max-height: 36px !important;
	max-width: 240px !important;
	transition: height 0.2s, width 0.2s;
}


div.notes {
	position: fixed;
	left: 10px;
	top: 10px;
	border-radius: 12px;
	display: block;
	resize: both;
	overflow: auto;
	min-width: 240px;
	min-height: 360px;
	max-width: 50%;
	max-height: 90%;
	background-color: rgba(255,255,255,0.1);
	filter: drop-shadow(0px 0px 3px black);
	backdrop-filter: blur(15px);
	transition: height 0.2s, width 0.2s;
}
div.friendswidget {
	z-index: 0;
	position: fixed;
	left: calc(100% - 250px);
	top: 10px;
	border-radius: 12px;
	display: block;
	resize: both;
	overflow: auto;
	min-width: 240px;
	min-height: 360px;
	max-width: 50%;
	max-height: 90%;
	background-color: rgba(255,255,255,0.1);
	filter: drop-shadow(0px 0px 3px black);
	backdrop-filter: blur(15px);
}

div.friends-header {
	
	font-size: 24px;
	margin-left: 6px;
	/* background-color: rgba(127,127,255,0.1);
	font-size: 24px;
	line-height: 36px;
	width: 100%;
	display: block;
	height: 36px;
	border-bottom: solid rgba(255,255,255,0.2) 1px;
	left: 0;
	top: 0; */
}


div.friendsbody {
	position: absolute;
	width: 100%;
	height: calc(100% - 38px);
}

div.no-friends {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
	filter: drop-shadow(0px 0px 1px black);
	cursor: pointer;
	font-weight: 300;
}