calendar-widget {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
	width: 240px;
	height: 400px;
	min-height: 240px;
	background-color: rgba(255,255,255,0.1);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	position: fixed;
	right: 20px;
	border-radius: 12px;
	top: 20px;
	display: block;
	padding: 6px;
	z-index: 0;
	resize: vertical;
	overflow-x: hidden;
	overflow-y: auto;
}

.calendar {
    
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 30px);
}
.calendar-top {
	height: 36px;
}
.month-back {
	display: inline-block;
	height: 24px;
	font-size: 24px;
	line-height: 24px;
	width: 24px;
	background-image: url('/images/monthminus.png');
	background-size: cover;
	position: absolute;
	left: 12px;
}

.month-forward {
	display: inline-block;
	height: 24px;
	font-size: 24px;
	line-height: 24px;
	width: 24px;
	background-image: url('/images/monthplus.png');
	background-size: cover;
	position: absolute;
	right: 12px;
}

.calendar-month {
	width: 50%;
	display: inline-block;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 18px;
	line-height: 24px;
}

.calendar {
	position: absolute;
	top: 36px;
	width: 100%;
}

.calendar-date-block {
    position: relative;
    width: 28px;
    height: 28px;
    /**background-color: #f55;*/
    display: flex;
    justify-content: center;
    align-items: center;
}


.tableElementCal {
	width: 18px;
	padding: 6px;
	margin: 0 3px 0 3px;
	text-align:center;
	vertical-align:middle;
	
}

.appointment {
	color: #f55;
	font-weight: 800;
}

.appointmentlist {
	width: 95%;
	height: calc(100% - 250px);
	overflow-x: hidden;
	overflow-y: scroll;
	position: absolute;
	top: 250px;
}

.appointmentlistelement {
	border-radius: 6px;
	 background: rgb(255,0,0);
	background: linear-gradient(90deg, rgba(255,0,0,0) 1%, rgba(255,0,0,1) 1%, rgba(255,0,0,1) 2%, rgba(0,0,0,0) 2%); 
	height: 48px;
	width: 100%;
	display: block;
	margin-top: 6px;
	margin-bottom: 6px;
}